@import 'variables';
@import 'structure';

.button {
  font-size: 2.5vw;
  line-height: 3vw;
  color: #b33f4c;
  border-color: #b33f4c;
  background-color: #ffd87e;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s;
  font-variant:small-caps;
  font-weight: 900;
  outline: none;

  &:focus {
    outline: none;
  }
}

.selectedButton {
  box-shadow: 0.4rem 0.4rem 0 #b33f4c;
  transform: translate(-0.4rem, -0.4rem);

  &:hover {
    box-shadow: 0 0 0 #b33f4c;
    transform: translate(0, 0)
  }
}

.deSelectedButton {
  transform: translate(0, 0);
  box-shadow: 0 0 0 #b33f4c;
}
